<!DOCTYPE html> 

<html>
<title> hpme page </title>

<body>
    <label> title </label> <%= title%>
    <p> home page </p>

    <script src="/assets/js/jquery-3.2.1.min.js"></script>

</body>

</html>
